/* General styles */
body {
  font-family: 'Inter', sans-serif;
  color: #fff;
  margin: 0;
  background: linear-gradient(0deg, #080808, #1f1e28);
  min-height: 100vh;
}

h1 {
  font-size: 4em;
  padding: 0;
  margin: 0;
  font-weight: 500;
  text-align: center;
}

h2 {
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

p {
  margin-top: 30px;
  font-size: 3em;
  font-weight: 100;
  color: rgb(163, 163, 163);
}

/* Header & Navigation styles */
header {
  padding: 10px 0px;
  text-align: right;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 30px;
}

nav ul li a {
  color: #919090;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.5em;
}

/* Section styles */
section {
  padding: 20px;
  text-align: center;
}

.content {
  max-width: 1200px;
  margin: auto;
  padding: 16px 48px;
}

.hero {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.gradient-text {
  background-image: linear-gradient(-45deg, rgb(177, 8, 189), rgb(88, 186, 255));
  background-clip: text;
  color: transparent;
}

#avatar-container {
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#avatar-loading {
  font-size: 3em;
}

/* Projects */
.project-container {
  display: flex;
  flex-direction: row;
  height: 500px;
  margin: 32px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.project-description {
  flex: 0 0 50%;
}

.project-image {
  flex: 0 0 50%;
  background-image: url('/public/background.png');
  background-size: cover;
}

#poke-me {
  font-size: 1em;
  width: 300px;
  text-align: right;
  margin: auto;
  margin-bottom: 64px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #ff0000;
}

.youtube:hover {
  color: #FF0000;
}

.github:hover {
  color: #FF0000;
}

.linkedin:hover {
  color: #0077b5;
}

.twitter:hover {
  color: #1DA1F2;
}

@media (max-width: 1000px) {
  .project-container {
    flex-direction: column;
  }
}