---
import Layout from '../layouts/Layout.astro';
import Avatar from '../components/Avatar.astro';
---

<Layout title="Welcome to Astro.">
  <div id="progress-container" class="text-white">
    <div id="progress">LOADING 0/100</div>
  </div>
  <div class='max-w-3xl m-auto p-32'>
    <Avatar/>
  </div>
</Layout>