---
import Layout from '../layouts/Layout.astro';
import Avatar from '../components/Avatar.astro';
---

<Layout title="Welcome to Astro.">
  <div class='max-w-3xl m-auto p-8 pt-16'>
    <Avatar/>
  </div>
</Layout>