---
---
<div>
  <h1 class='text-white text-5xl text-center pb-2'>Hi There! 👋</h1>
  <h1 class='text-white text-5xl text-center font-thin'>I'm Dan Greenheck</h1>
  <div id='avatar-container' class='m-0 h-[500px] flex justify-center items-center'>
    <h2 id='avatar-loading' class='text-white text-3xl text-center font-medium'>TELEPORTING...</h2>
  </div>
  <script src='../scripts/avatar.js'>
</div>
