---
---
<div>
  <h1 class='text-white text-5xl text-center font-thin'>Hi there 👋 I'm Dan</h1>
  <div id='avatar-container' class='w-{600} h-{600}'></div>
  <script src="../scripts/avatar.js"></script>
</div>
